*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-image: url("https://i.pinimg.com/1200x/f4/fc/24/f4fc2426e3011bd25e5f1eddf92583b0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app{
    background-color: white;
    width: 100%;
    max-width: 700px;
    margin: 200px auto 0;
    border-radius: 10px;
    padding: 50px;
}
.app h1{
    font-size: 35px;
    color:#440d10 ;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    text-align: center;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 28px;
    color: #440d10;
    font-weight: 600;
}
.btn{
    font-size: 20px;
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #440d10;
    color: #fff;
    width: 150px;
    font-size: 15px;
    font-weight: 500px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}